<div class="board-layout">
    <div class="board-layout__sidebar">
        <lib-sidebar>
            <img header src="../assets/kanban-logo.JPG" alt="Logo Kanban">
            <div body>
                <app-boards></app-boards>
            </div>
            
        </lib-sidebar>
    </div>
    <div class="board-layout__content">
        <lib-header class="board-layout__content__header">
            <ng-container title>
             {{board?.name}}
            </ng-container>
            <ng-container actions>
                <lib-button type="button" styleClass="button-add-task" (clicked)="showNewTaskButton()">
                    + Add New Task
                </lib-button>
            </ng-container>
        </lib-header> 
        <div class="board-layout__content__router">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>

