<div class="board-layout">
    <div class="board-layout__sidebar">
        <lib-sidebar>
            <img header src="../assets/kanban-logo.JPG" alt="Logo Kanban">
            <div body>
                <app-boards></app-boards>
            </div>
            
        </lib-sidebar>
    </div>
    <div class="board-layout__content">
        <lib-header>
            <ng-container title>
             {{board?.name}}
            </ng-container>
            <ng-container actions>
                actions
            </ng-container>
        </lib-header> 
        <router-outlet></router-outlet>
    </div>
</div>

