<div class="grid sm:grid-cols-12">
    <div class="col-span-3 lg:col-span-2">
        <lib-sidebar>
            <img header src="../assets/kanban-logo.JPG" alt="Logo Kanban">
        </lib-sidebar>
    </div>
    <div class="col-span-9 lg:col-span-10">
        <lib-header>
            <ng-container title>
                Titulo
            </ng-container>
            <ng-container actions>
                actions
            </ng-container>
        </lib-header> 
        <router-outlet></router-outlet>
    </div>
</div>

