<div class="task-detail" *ngIf="task">
    <p class="task-detail__description">{{task.description}}</p>
    <div class="task-detail__subtasks">
        <strong class="task-detail__subtasks__title">Subtask ({{task.countSubtaskInDone}} of {{task.subtask.length}})</strong>
        <ul class="task-detail__subtasks__subtasks-list">
            @for (subtask of task.subtask; track subtask) {
            <li class="task-detail__subtasks__subtasks-list__item">
                <lib-checkbox class="task-detail__subtasks__subtasks-list__item__checkbox" [(ngModel)]="subtask.isDone" (ngModelChange)="saveChange(subtask)"></lib-checkbox> 
                <span class="task-detail__subtasks__subtasks-list__item__text" [libStrikeOutText]="subtask.isDone">{{subtask.title}}</span>
            </li>
            }
        </ul>
    </div>
    <div class="task-detail__status">
        <label for="status">Status</label>
        <lib-dropdown inputId="status" [(ngModel)]="task.status" (ngModelChange)="changeStatus(task)" [options]="columnStatus" optionValue="name" optionLabel="name" styleClass="w-full" placeholder="Select a status"></lib-dropdown>
    </div>
</div>