<div class="boards"></div>
<span class="boards__title">ALL BOARDS ({{(boards$ | async)?.length}})</span>
<ul class="boards__boards-list">
    @for (board of boards$ | async; track board) {
        <li class="boards__boards-list__board">
            <a [routerLink]="['/kanban-board/', board.idBoard]" routerLinkActive="board-active" >
                <span class="material-symbols-outlined" [title]="board.name"> space_dashboard </span> 
                <span class="boards__boards-list__board__name">{{board.name}}</span>
            </a>
        </li>
    }
</ul>
